<head>
    <link rel="stylesheet" href="/stylesheets/partials/listCrypto.css">
</head>

<div class="listCryptoContainer">

        <p><img src="/images/ETH.png" alt="copy" class="img-crypto"> ETH</p>

        <p><img src="/images/dai.png" alt="copy"class="img-crypto"> DAI</p>

        <p><img src="/images/mkr.png" alt="copy"class="img-crypto"> MKR</p>

        <p><img src="/images/PXR.png" alt="copy"class="img-crypto"> PXR</p>

        <p><img src="/images/mana.png" alt="copy"class="img-crypto"> MANA</p>

        <p><img src="/images/btc.png" alt="copy"class="img-crypto"> BTC</p>

</div>


