<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <header>
        <img class="logo" src="images/Logo.png" alt="logo">
        <nav class="navBar">
            <ul class="nav__links">
              <li class="nav__li"><a href="/">Home</a></li>
              <li class="nav__li"><a href="/#section2">Libertum</a></li>
              <li class="nav__li"><a href="/#section4">About us</a></li>
              <li class="nav__li"><a href="/#section5">Contacts</a></li>
              <li class="nav__li"><a href="#" id="bePart"><span>I want to be part</span></a></li>
            </ul>
          </nav>
        <button id="vacio"></button>
    </header>

    <script src="/javascripts/popUpBePart.js"></script>
</body>
</html>