<!DOCTYPE html>
<html>

<head>
  <title>Libertum</title>
  <link rel="icon" type="image/png" href="/images/Logo.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/partials/navbar.css">
  <link rel="stylesheet" href="/stylesheets/sectionsIndex/firstSection.css">
  <link rel="stylesheet" href="/stylesheets/sectionsIndex/secondSection.css">
  <link rel="stylesheet" href="/stylesheets/sectionsIndex/thirdSection.css">
  <link rel="stylesheet" href="/stylesheets/sectionsIndex/fourSection.css">
  <link rel="stylesheet" href="/stylesheets/sectionsIndex/fiveSection.css">
  <link rel="stylesheet" href="/stylesheets/sectionsIndex/footer.css">
  <link rel="stylesheet" href="/stylesheets/popUps/popUpsIndex.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a7a7476959.js" crossorigin="anonymous"></script>
</head>

<body>

  <header>
    <img class="logo" src="images/Logo.png" alt="logo">
    <nav class="navBar">
      <ul class="nav__links">
        <li class="nav__li"><a href="/">Home</a></li>
        <li class="nav__li"><a href="/#section2">Libertum</a></li>
        <li class="nav__li"><a href="/#section4">About us</a></li>
        <li class="nav__li"><a href="/#section5">Contacts</a></li>
        <li class="nav__li"><a href="#form" id="bePart"><span>I want to be part</span></a></li>
      </ul>
    </nav>
    <button id="vacio"></button>
  </header>

  <section class="section1" id="section1">

    <div class="divContainer__section1">
      <div class="degrade"></div>

      <div class="coinsContainer">
        <div class="coin"><img src="/images/moneda_1.png" alt="" data-aos="fade-up"></div>
        <div class="coin"><img src="/images/moneda_2.png" alt="" class="coin2" data-aos="fade-down"></div>
        <div class="coin"><img src="/images/moneda_3.png" alt="" data-aos="fade-up"></div>
      </div>

      <div class="div__section1">
        <h2 class="h2_divContainer_section1">Put yours ideas and projects into action thanks to new technologies!
        </h2>
        <p class="subText">Liberum is a technological tool based on highly secure mathematical processes that will
          allow the creation of fully decentralized and anonymous financial services.</p>
        <br>
        <button class="buttonEnter"><a href="/swap">ENTER APP</a></button>
        <button class="buttonRead"><a href="https://discord.gg/cAB2MKRw7b">Know more</a></button>
      </div>

    </div>


    <div class="scrollArrow">
      <a href="#section2"><i class="fa-solid fa-angle-down" id="arrowDown"></i></a></i>
    </div>

  </section>

  <section class="section2" id="section2">

    <div class="containerBoxesSec2">

      <div class="box1Father">
        <div class="box1" data-aos="zoom-in-down">

          <img src="/images/whatIs.png" alt="" class="imagesSec2">
          <div class="text">
            <h2>What is Libertum?</h2>
            <p class="p_text">Libertum , like traditional banking , willhave all the current financial services:
              pasives operations, active
              operations and contingency operations.</p>
            <p class="readMore"><a class="readMoreWhatIs" id="readMoreWhatIs">Read more... </a><i
                  class="fa-solid fa-arrow-right"></i> </a></p>
          </div>

        </div>
      </div>

      <div class="box2Father">
        <div class="box2" data-aos="zoom-in">

          <img src="/images/about.png" alt="" class="imagesSec2">
          <div class="text">
            <h2>About the application</h2>
            <p class="p_text">Libertum creates the perfect system where deficit and surplus entities meet in wich they
              can invest both
              locally and internationally through loans, shares in the stock market and creation of companies.</p>
            <p class="readMore"><a class="readMoreAbout" id="readMoreAbout">Read more... <i
                  class="fa-solid fa-arrow-right"></i> </a></p>
          </div>

        </div>
      </div>

      <div class="box3Father">
        <div class="box3" data-aos="flip-down">

          <img src="/images/conecting.png" alt="" class="imagesSec2">
          <div class="text">
            <h2>Conecting with 100+ cryptocurrenceis</h2>
            <p>The stability of the libertum ecosystem allows connectivity with other projects related to
              decentralization and the economic stability of the client</p>
          </div>

        </div>
      </div>

    </div>



  </section>

  <section class="section3">

    <img src="/images/bannerAppBenef.png" alt="">

  </section>

  <section class="section4" id="section4">

    <div class="boxTitleSec4">
      <h1 class="titleSec4" data-aos="fade-up">About Us</h1>
    </div>

    <div class="boxFhaterTexts">

      <div class="purposeBox" data-aos="fade-right">
        <div class="titleBox">
          <h1>Purpose</h1>
        </div>

        <div class="textPurpose">
          <p>
            To be the gateway to all opportunities, with the aim of improving people's quality of life and becoming
            the
            largest decentralized financial platform that uses new technologies to improve the world
          </p>
        </div>
        <div class="titleBox"></div>
      </div>

      <div class="missionBox" data-aos="fade-left">
        <div class="titleBox"></div>

        <div class="textMission">
          <p>
            Being a DeFi, providing a platform for payment, credit guarantees, transfer and exchange of
            cryptocurrencies
            with the aim of protecting personal resources, promoting economic decentralization and allowing anyone,
            anywhere, to access opportunities.
          </p>
        </div>
        <div class="titleBox">
          <h1>Mission</h1>
        </div>
      </div>

      <div class="visionBox" data-aos="fade-right">
        <div class="titleBox">
          <h1>Vision</h1>
        </div>
        <div class="textVision">
          <p>
            To be the gateway to all opportunities, with the aim of improving people's quality of life and becoming
            the
            largest decentralized financial platform that uses new technologies to improve the world
          </p>
        </div>
        <div class="titleBox"></div>
      </div>
    </div>

    <div class="boxRoadMap" id="section-4">
      <div class="boxRoadMapImg">
        <img src="/images/roadMapp.png" alt="" class="imageRoadMap">
      </div>
    </div>


  </section>

  <section class="section5" id="section5">

    <div class="boxFatherSec5">

      <div class="containerTopBox" data-aos="fade-up">

        <div class="boxPerson">

          <img src="/images/luis.jpg" alt="" width="301px" height="380px">

          <div class="nameBox">
            <h3>Luis León</h3>
            <p>CEO</p>
          </div>

        </div>

        <div class="boxPerson">

          <img src="/images/gregoris.jpg" alt="" width="301px" height="380px">

          <div class="nameBox">
            <h3>Gregoris Pereira</h3>
            <p>Consult. Blockchain</p>
          </div>

        </div>

        <div class="boxPerson">

          <img src="/images/natsumi.jpg" alt="" width="301px" height="380px">

          <div class="nameBox">
            <h3>Natsumi Daizen</h3>
            <p>UI desingner & QA</p>
          </div>

        </div>

      </div>

      <div class="containerTopBox" data-aos="fade-up">

        <div class="boxPerson">

          <img src="/images/emmanuel.jpg" alt="" width="301px" height="380px">

          <div class="nameBox">
            <h3>Emmanuel Okeke</h3>
            <p>UI/UX designer & Front End</p>
          </div>

        </div>

        <div class="boxPerson">

          <img src="/images/julieta.jpg" alt="" width="301px" height="380px">

          <div class="nameBox">
            <h3>Julieta Leonardi</h3>
            <p>Leader UX/UI designer</p>
          </div>

        </div>

        <div class="boxPerson">

          <img src="/images/nandu.jpg" alt="" width="301px" height="380px">

          <div class="nameBox">
            <h3>Nandu Subash</h3>
            <p>Blockchain Engineer Jr</p>
          </div>

        </div>

      </div>

    </div>

  </section>

  <footer class="footer">

    <h1 class="tilteContacts">Contacts</h1>

    <form id="form" class="form" action="https://formspree.io/f/xnqwwgjp" method="POST">
      <div class="degrade-contact"></div>

      <div class="personalInformation">

        <p>
          <label>Name</label>
        </p>
        <p>
          <input type="text" name="name" id="" placeholder="Name and last name">
        </p>

        <p>
          <label>Email</label>
        </p>
        <p>
          <input type="email" name="email" id="" placeholder="Email address">
        </p>

        <p>
          <label>Reason</label>
        </p>
        <p>
          <input type="text" name="reason" id="" placeholder="Select an option">
        </p>

      </div>

      <div class="textField">

        <p>
          Text Field
        </p>

        <p>
          <textarea name="mesagge" id="mesagge" placeholder="Write your query here" maxlength="300"></textarea>
        </p>

      </div>

      <div class="sendButton">
        <button type="submit" class="buttonSend">Send</button>
      </div>

    </form>




    <div class="footerFinal">
      <div class="boxLibertumFooter">

        <div class="libertumFooter">
          <div class="nameLogo">
            <img src="/images/Logo.png" class="logo" alt="logo">
            <h1>Libertum</h1>
          </div>
          <p>Libertum is a technological tool based on highly secure mathematical processes that will allow the
            creation
            of fully decentralized and anonymous financial services.</p>
        </div>

        <div class="pages">

          <h1>Pages</h1>

          <div class="pages_container">

            <ul class="pages_ul">
              <li class="pages_links"><a href="#">Home</a></li>
              <li class="pages_links"><a href="#">Libertum</a></li>
              <li class="pages_links"><a href="#">About us</a></li>
              <li class="pages_links"><a href="#">Contacts</a></li>
              <li class="pages_links"><a href="#"><span class="bePart">I want to be part</span></a></li>
            </ul>

          </div>

        </div>

      </div>

      <div class="rigths-terms">
        <h1>© 2021 All rights reserved.</h1>
        <div class="rigths-terms-people">
          <div>
            <a href="https://www.linkedin.com/in/mauricio-caggiano-151061201/">Mauricio Caggiano </a>
            <img src="images/linkedinicon.png"></img>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/franco-mazuryk-139086197/">Franco Mazuryk </a>
            <img src="images/linkedinicon.png">
          </div>


        </div>
        <h1 class="termsAndConditions" id="termsAndConditions">Terms and conditions</h1>
      </div>

    </div>

  </footer>

  <div class="overlayBePart" id="overlayBePart">

    <div class="popUpBePart" id="popUpBePart">
      <h1>Join the Team!</h1>
      <div class="bePartTextContainer">
        <p>Would you like to be part of the team? Write us in our contact form with the reason "I want to be part"</p>
      </div>
      <button class="getInTouch" id="getInTouch">Get in touch</button>
    </div>

  </div>

  <div class="overlayWhatIs" id="overlayWhatIs">

    <div class="popUpWhatIs" id="popUpWhatIs">
      <h1>What is Libertum?</h1>
      <div class="paragraph-whatIs">
        <p>Libertum is a technological tool based on high security mathematical processes, which will allow the creation
          of fully decentralized and anonymous financial services in which both Fiat currencies and cryptocurrencies can
          be used (even eventually the cryptocurrency Libertum itself). This will give people the opportunity to choose
          those options in which they have the most confidence or that provide them with the greatest benefits for their
          current situation.</p>
        <br>
        <p>One of the technological processes that the project will use will be the P2P method which will link investors
          directly with loan applicants, thus creating an oasis of investment opportunities for both small and large
          companies, locally and internationally. We add the Blockchain which will be in charge of verifying each of the
          transactions that are true. The implementation of these technologies will promote the evolution of the market,
          creating better products, processes, technologies and new business models, which will result in greater
          benefits
          for the consumer of the products or services, promoting an even more productive and sustained economy over
          time.
          weather.</p>
        <br>
        <p>What is expected as a result?
          Finalize the tools that will lead us to create a better, freer and fairer world, where everyone knows about
          respect for private property and the free market, where truth and ideas prevail, above all, where we work for
          our neighbors to to be even more united and to be able to prosper in life without being stopped by anyone or
          anything, to fulfill the dream of freedom in all its essence and the dream of thousands of people who fight
          every day, Libertum will set us free.</p>
        <p>The result that Libertum expects is an economic and social impact, in countries where freedom does not exist
          or
          is limited.</p>
        <br>
        <p>Future Goals</p>
        <p>
          Promote job creation, wealth production and market competitiveness.
          Secure the transactions of monetary activities.
          Seek the sustainability of the decentralized system to guarantee compliance with the obligations of each of
          the
          sectors and entities that comprise them.
          Cushion and minimize systemic risks and reduce economic fluctuations.
          Deepen the process of constitution of a liberal economic system, in which the work of the next one is the
          center
          of everything.
          Provide new alternatives and services to people, different from traditional methods.</p>
      </div>
      <button class="buttonBackWhatIs" id="buttonBackWhatIs">Back</button>
    </div>


  </div>

  <div class="overlayAboutTheApplication" id="overlayAboutTheApplication">

    <div class="popUpAboutTheApplication" id="popUpAboutTheApplication">
      <h1>About The Application</h1>
      <h3>Libertum Services</h3>
      <p> 1. Payment method
      <p class="subtext">The posibility of buying and selling goods and services using the currencies available within
        Libertum.</p>
      </p>
      <br>
      <p> 2. Value support
      <p class="subtext">Use of bitcoin and the cryptocurrency "Libertum" without leaving behind any Fiat currency and
        its physical support.</p>
      </p>
      <br>
      <p> 3. Security
      <p class="subtext">Virtual contracts and the use of blockchain or Cardano technology without counting the total
        anonymity provied by technologies such as Tor.</p>
      </p>
      <br>
      <p> 4. Withdrawal of funds
      <p class="subtext">Ability to easily withdraw founds with a debit card from anywhere in the world.</p>
      </p>
      <br>
      <p> 5. Foregein and local investiment
      <p class="subtext">Have the platform so that anyone can invest from small to large companies.</p>
      </p>

      <div class="containerButtonAbout"><button class="buttonBackAbout" id="buttonBackAbout">Back</button></div>

    </div>
  </div>

  <div class="overlaySend" id="overlaySend">

    <div class="popUpSend" id="popUpSend">
      <h1>Sent successfully!</h1>
      <p>Thank you very much for communicating with us.</p>
      <p>Your message was sent successfully and will be answered as soon as possible.</p>
      <button class="buttonSendPopUp" id="buttonSendPopUp">Back</button>
    </div>

  </div>

  <div class="overlayterms-conditions" id="overlayterms-conditions">
    <div class="popUpterms-conditions" id="popUpterms-conditions">
      <h1>Terms and Conditions</h1>
      <div class="textScroll">
        <h4>General Conditions of Use of Libertum</h4>
        <h4>Updated 01.01.2021</h4>
        <br>
        <div class="textScroll-paragraph">

          <p>1. Introduction</p>
          <p>In these Libertum General Terms of Use ("Terms", "Libertum", "we" and "us" refer to the Libertum Project
            and
            we
            own and operate the website https://www.libertum.info ("the Site" ) which acts as a front-end to the
            decentralized Libertum Protocol These Terms apply to you ("You") as a user of the Site and the front-end of
            Libertum, including all products, services, tools and information available on the Site. .
            Please read these Terms carefully before using the Site. These Terms apply to anyone who accesses the Site,
            and
            by using the Site, you agree to be bound by them. If you do not want to be bound by them, you should not
            access
            the Site. By using the Site in any capacity, you agree that you have read and understood these Terms.
            Please read these Terms carefully to make sure you understand each provision. This agreement contains a
            mandatory individual arbitration provision and class action / jury trial waiver that requires the use of
            arbitration on an individual basis to resolve disputes, rather than jury trials or class action lawsuits.
            You must be able to form a legally binding contract online, either as an individual or on behalf of a legal
            entity. You represent that if you accept these Terms on behalf of a legal entity, you have the legal
            authority
            to bind the company or other legal entity to these Terms and you are at least 18 years of age or the age of
            majority where you reside, whichever Older, you can form a legally binding contract online, and have the
            full
            right, power, and authority to enter into and perform your obligations under these Terms.
            We recommend that you review these Terms periodically to familiarize yourself with any changes to the Terms.
            Libertum, at its sole discretion, reserves the right to make changes to our terms of services. Changes are
            binding on users of the Site and will take effect immediately upon posting. As a user, you agree to be
            subject
            to any changes, variations or modifications to our terms of service and your continued use of the Site will
            constitute acceptance of such changes, variations or modifications.
            Libertum will indicate on the Site the changes to these Terms. You agree that by doing so, we provide you
            with
            sufficient notice of such change.
            Our Privacy Policy and Cookie Policy also applies to your use of the Site.</p>
          <br>
          <p>2. Site</p>
          <p>As part of the Site, Libertum provides access to a decentralized financial application ("Application") on
            the
            Binance blockchain, which enables lenders or borrowers of Binance assets ("cryptocurrency assets") to
            transact
            using smart contracts ("Contracts smart ").
            Using the Libertum Protocol may require you to pay a fee, such as gas charges on the Binance network to
            conduct
            a transaction. You acknowledge and agree that Libertum has no control over any transaction, the method of
            payment of any transaction, or any actual payment of transactions. You must ensure that you have a
            sufficient
            balance to complete any transaction in the Libertum Protocol before initiating such transaction.
            You acknowledge and agree that Libertum has no control over any transaction over the Libertum Protocol, the
            method of payment of any transaction, or any actual payment of transactions. Accordingly, you must ensure
            that
            you have a sufficient balance of applicable cryptocurrency tokens stored in your Libertum Protocol compliant
            wallet address ("Cryptocurrency Wallet") to complete any transaction on the Libertum Protocol or the Binance
            network prior to initiating such. transaction.
          </p>
          <br>
          <p>3. Access to the Site
            Access to the Site is provided "as is" and "as available" only. We do not guarantee that the Site, or any
            content on it, will always be available or uninterrupted. From time to time, access may be interrupted,
            suspended or restricted, including due to a failure, error or unforeseen circumstances or because we are
            carrying out planned maintenance.
            We reserve the right to limit the availability of the site to any person, geographic area or jurisdiction
            that
            we wish and / or to cancel your access and use of the site, at any time and in our sole discretion.
            We may suspend or disable your access to the Site if we consider it reasonable to do so, for example if you
            breach these Terms.
            We can remove or modify the content of the Site at any time. However, some of the content may be out of date
            at
            any given time and we are under no obligation to update it. We do not guarantee that the Site, or any
            content
            on
            it, will be free from errors or omissions.
            We will not be liable to you for any loss or damage that you may suffer as a result of the Site being
            unavailable at any time for any reason.
            You will comply with all national and international laws, statutes, ordinances and regulations applicable to
            your use of the site.
            As a condition of accessing or using the Site, you:</p>

          <p>I. You will only use the Services and the Site for lawful purposes and in accordance with these Terms;</p>
          <p>II. will ensure that all information you provide on the Site is current, complete and accurate;</p>
          <p>III. will maintain the security and confidentiality of access to your cryptocurrency wallet address; and
            As a condition of accessing or using the Site or the Services, you may not:</p>
          <p>I. Violate any Applicable Law, including, without limitation, any relevant and applicable law against money
            laundering and terrorist financing and any relevant and applicable privacy and data collection law, in each
            case
            as modified.</p>
          <p>II. use the Site for any purpose that is illegal;</p>
          <p>III. Export, re-export or transfer, directly or indirectly, any Libertum technology in violation of
            applicable
            export laws or regulations;</p>
          <p>IV. Infringe or misappropriate any contract, intellectual property or other right of third parties, or
            commit
            a
            tort while using the Site;</p>
          <p>V. Misrepresent the veracity, origin or reliability of any content on the Site;</p>
          <p>SAW. Use the Site in any way that may interfere with, interrupt, adversely affect or inhibit other users
            from
            fully enjoying the Site or the Libertum Protocol, or that may damage, disable, overload or impair the
            operation
            of the Site or the Libertum Protocol in any way ;</p>
          <p>VII. Attempting to circumvent any content filtering techniques or security measures that Libertum employs
            on
            the Site, or attempting to access any service or area of the Site that it is not authorized to access;</p>
          <p>VIII. Attempting to circumvent any content filtering techniques or security measures that Libertum employs
            on
            the Site, or attempting to access any service or area of the Site that it is not authorized to access;</p>
          <p>IX. Use any robot, spider, crawler, scraper or other automated means or interface not provided by us, to
            access
            the Site to extract data;</p>
          <p>X. Introduce any malware, virus, Trojan horse, worm, logic bomb, dead device, back door, shutdown mechanism
            or
            other harmful material on the Site;</p>
          <p>XI. Post content or communications on the Site that are, in our sole discretion, libelous, defamatory,
            profane,
            obscene, pornographic, sexually explicit, indecent, lewd, vulgar, suggestive, harassing, hateful,
            threatening,
            offensive, discriminatory, intolerant, abusive, inflammatory, fraudulent, misleading, or otherwise
            objectionable;</p>
          <p>XII. Post content on the Site that contains unsolicited promotions, commercial messages, or any chainmail
            or
            user content designed to mislead or mislead the user of the Site; or</p>
          <p>XIII. Encourage or induce any third party to participate in any of the activities prohibited by these
            Terms.
          </p>
          <p>You acknowledge that the Site and your use of the Site contain certain risks, including, but not limited
            to,
            the following risks:</p>
          <p>I. That any Smart Contract you interact with is entirely your own responsibility and liability, and that
            Libertum is not a party to the Smart Contract;</p>
          <p>II. At any time, your access to your cryptocurrency assets may be suspended or terminated or there may be a
            delay in your access or use of your cryptocurrency assets, which may result in the cryptocurrency assets
            decreasing in value or you being unable to complete a Smart contract;</p>
          <p>III. If you are a borrower of cryptocurrency assets and if your collateral decreases in such a way that
            your
            collateral is no longer sufficient to secure your borrowed cryptocurrency assets, other users may take
            advantage
            of your collateral to close their balance of borrowed cryptocurrency assets;</p>
          <p>IV. And the site and / or app may be suspended or terminated for any reason or no reason, which may limit
            your
            access to your crypto assets.</p>
          <br>
          <p>Consequently, you expressly agree that:</p>
          <p>1. you assume all risks in connection with your access to and use of the Site, the Application and the
            Smart
            Contracts;</p>
          <p>2. that you expressly waive and release Libertum from any liability, claim, cause of action, or damages
            arising
            out of or in any way related to your use of the Site, the App, or the Smart Contracts.</p>
          <br>
          <p>4. Third party links</p>
          <p>The Site may contain hyperlinks or references to third party websites. Such hyperlinks or references are
            provided for your information and convenience only. We have no control over third party websites and we do
            not
            accept any legal responsibility for any content, material or information contained on them. The display of
            any
            hyperlink and reference to any third party website does not mean that we endorse that third party's website,
            products or services. Your use of a third party site may be governed by the terms and conditions of that
            third
            party site.</p>
          <br>
          <p>5. Privacy Policy and Cookies Policy</p>
          <p>Certain areas of our website may record and collect information about you. You can find more information on
            how
            we will process your personal information in our Privacy Policy.
            When you use the Site, we may collect information about your computer and your interaction with the Site.
            See
            our Cookie Policy for more information.</p>
          <br>
          <p>6. Intellectual property rights</p>
          <p>We are the owner of all intellectual property rights in the Site and the material published on it. These
            works
            are protected by copyright laws and all these rights are reserved.</p>
          <p>https://www.libertum.info is Libertum's uniform resource locator ('URL'). You will not use this URL (or any
            other URL we own) on another website or digital platform without our prior written consent.</p>
          <p>You agree not to monitor, use or copy our web pages without our prior consent. Any unauthorized use or
            reproduction can be prosecuted.</p>
          <p>You will retain ownership of all copyrights in the data that you upload or submit to the Site. You grant us
            a
            worldwide, royalty-free, and irrevocable license to use, copy, distribute, or publish and submit this data
            in
            any way.</p>
          <br>
          <p>7. Disclaimers</p>
          <p>We do not guarantee that the Site will be secure or free from errors or viruses.
            You are responsible for configuring your information technology, computer programs, and platform to access
            the
            Site. You must use your own virus protection software.
            We cannot promise that use of the Site, or any content taken from the Site, will not infringe the rights of
            any
            third party.
            The content and materials available on the Site are for informational purposes only and are not intended to
            address your particular requirements. In particular, the content and materials available on the Site do not
            constitute any form of advice or recommendation on our part, they should not be considered as an offer,
            request,
            invitation or recommendation to buy or sell investments, securities or any other financial service and not
            it
            is
            intended to be trusted by you to make any specific investment or other decisions. We recommend that you seek
            independent advice from a financial advisor before making any such decision.
            Nothing on the site constitutes an offer or solicitation to sell, or distribute, investments and related
            services to any person in any jurisdiction.
            From time to time, the data that we have collected may be referenced. These references can be selective or
            partial. As markets continually change, previously published information and data may be out of date and
            should
            not be relied upon.</p>
          <br>
          <p>General</p>
          <p>We can comply with any of our obligations and exercise any of the rights granted to us by these Terms,
            through
            a third party. We may assign any or all of our rights and obligations under these Terms to any third party.
            If any clause or part of any clause of these Terms is found null, unenforceable or invalid, then it will be
            separated from these Terms, leaving the rest in full force and effect, provided that the indemnification has
            not
            altered the basic nature of these Terms.
            No single or partial exercise, or failure or delay in the exercise of any right, power or remedy on our part
            shall constitute a waiver on our part of, or impair or impede any subsequent exercise of, that or any right,
            power or remedy that arises. under these terms and conditions or otherwise.</p>
          <p>If any of the provisions of these Terms are considered illegal, invalid or unenforceable by any court of
            competent jurisdiction, the rest will continue in full force and effect.
            All disclaimers, indemnities and exclusions in these Terms will survive the termination of the Terms and
            will
            continue to apply during any suspension or any period during which the Site is not available for you to use
            for
            any reason.
            These Terms and the documents referenced in them establish the entire agreement between you and us with
            respect
            to your use of the site, Libertum and the services provided through the site and supersede any and all
            representations, communications or prior or contemporaneous agreements (written or oral) made between you or
            us.
            Any dispute, controversy or claim that arises from or in relation to these Terms, including the validity,
            invalidity, breach or termination thereof, will be resolved by arbitration in accordance with the
            International
            Arbitration Rules of the Chambers of Commerce in force on the date in which the Notice of Arbitration is
            filed
            in accordance with these Rules. The number of arbitrators will be one or three; the seat of the arbitration
            will
            be determined by the arbitrator or arbitrators; the arbitration procedure will be conducted in English.
            With respect to all persons and entities, regardless of whether they have obtained or used the site for
            personal, commercial or other purposes, all disputes, controversies or claims must be presented in the
            individual capacity of the parties, and not as a claimant or member. class in any alleged class action
            lawsuit,
            class action or other representative proceeding. This waiver applies to class arbitration and, unless we
            agree
            otherwise, the arbitrator cannot consolidate the claims of more than one person. You agree that, by entering
            into this agreement, you and Libertum waive the right to a jury trial or to participate in a class action
            lawsuit, class action, or other representative proceeding of any kind.</p>
          <p>Contacting us</p>
          <p>If you have any questions about these Terms, or wish to contact us for any reason, please do so by emailing
            us
            at luisleon.exe@gmail.com</p>
        </div>
      </div>
      <div class="containerButtonBack"><button class="buttonBackterms-conditions"
          id="buttonBackterms-conditions">Back</button></div>
    </div>

  </div>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 1500
    });
  </script>

  <script src="/javascripts/homePopUps/popUpBePart.js"></script>

  <script src="/javascripts/homePopUps/popUpWhatIs.js"></script>

  <script src="/javascripts/homePopUps/popUpAboutTheApplication.js"> </script>

  <script src="/javascripts/homePopUps/popUpSend.js"></script>

  <script src="/javascripts/homePopUps/popUpterms-conditions.js"></script>

</body>

</html>