<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/images/Logo.png" />
        <link rel="stylesheet" href="/stylesheets/subPages/market.css" />
        <link
            href="https://unpkg.com/aos@2.3.1/dist/aos.css"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/a7a7476959.js"
            crossorigin="anonymous"
        ></script>

        <link rel="stylesheet" href="/stylesheets/popUps/popUpsPool.css" />
        <link rel="stylesheet" href="/stylesheets/partials/walletPopUp.css" />
        <link rel="stylesheet" href="/stylesheets/partials/alerts.css" />
        <link
            rel="stylesheet"
            href="/stylesheets/popUps/borrowing/popUpsAssetsSupplied-borrow.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/popUps/borrowing/PopUpsYourSupply-loans.css"
        />
        <title>Libertum</title>
    </head>

    <body>
        <%- include('./partials/navbartwo.ejs') -%>

        <main>
            <!-- First section -->
            <div></div>

            <!-- Dkill Section (Delete this) -->
            <div class="marketSecondSection">
                <div class="countriesContainer">
                    <h2 class="countriesTitle">
                        We are available in many well-know countries
                    </h2>
                    <div class="countriesContent">
                        <ul class="countriesList">
                            <li class="countryRectangle">
                                <h3 class="countryName">AMERICA</h3>
                                <img
                                    class="countryImage"
                                    src="/images/americaRectangle.png"
                                    alt=""
                                />
                            </li>
                            <li class="countryRectangle">
                                <h3 class="countryName">SPAIN</h3>
                                <img
                                    class="countryImage"
                                    src="/images/spainRectangle.png"
                                    alt=""
                                />
                            </li>
                            <li class="countryRectangle">
                                <h3 class="countryName">LONDON</h3>
                                <img
                                    class="countryImage"
                                    src="/images/londonRectangle.png"
                                    alt=""
                                />
                            </li>
                            <li class="countryRectangle">
                                <h3 class="countryName">FRANCE</h3>
                                <img
                                    class="countryImage"
                                    src="/images/franceRectangle.png"
                                    alt=""
                                />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="itemsRecently">
                    <h2 class="recentlyTitle">Recently Added</h2>
                </div>
            </div>

            <!-- Third section -->
            <section class="marketThirdSection">
                <div class="contactContainer">
                    <h3>Find your best<br />Real State</h3>
                    <h4>
                        We provide a complete service for the sale,<br />purchase
                        or rental of real state
                    </h4>
                    <button><a href="/#section5">CONTACT US</a></button>
                </div>
            </section>
        </main>
    </body>
</html>
