@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.section5{
    min-height: 100vh;
    background: #202020;
    padding: 2%;
}

.boxFatherSec5{
    width: 70%;
    margin: auto;
}


.containerTopBox{
    display: flex;
    justify-content: space-around;
}

.boxPerson{
    display: inline-block;
    margin: 20px;
}

.boxPerson img{
    border-radius: 15px;
}

.nameBox{
    text-align: center;
}

.nameBox h3{
    text-align: center;
    font-family: 'Montserrat';
    margin: 8px;
    font-size: 24px;
    font-weight: 400;
}

.nameBox p{
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 16px;
    letter-spacing: 2px;
}

